<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1" time-out="100000" thread-count="2" parallel="classes">
    <test name="XXX">
        <classes>
            <class name="com.test.TestLog"/>
            <class name="com.test.TestWeb"/>
        </classes>
    </test>
    <test name="Group">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="add"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="com.test.TestLog"/>
        </classes>
    </test>
</suite>